<div id="<%= dom_id pharmacy %>">
  <p>
    <strong>Name:</strong>
    <%= pharmacy.name %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= pharmacy.password_digest %>
  </p>

  <p>
    <strong>Deliver address:</strong>
    <%= pharmacy.deliver_address %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= pharmacy.postcode %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= pharmacy.stock %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pharmacy.email %>
  </p>

</div>
