<!-- Display a customer order, used to view update on an order-->



<tr>
<td class="govuk-table__cell"><%= pharmacy.name%></td>
<td class="govuk-table__cell"><%= pharmacy.deliver_address%></td>
<td class="govuk-table__cell"><%= pharmacy.postcode%></td>
<td class="govuk-table__cell"><%= pharmacy.stock%></td>
<td class="govuk-table__cell"><%= link_to "Order", new_pharmacy_customer_pharmacy_order_path(pharmacy), class:"govuk-button"%> </td>



</tr>
