<div class="logincontainer">
  <div class="loginform">
    <h2 class="govuk-heading-l" styles="align-content:center">Log In</h2>
    <%= form_tag(access_customer_login_attempt_path, method: :post) do %>
    <table>
      <div class="govuk-form-group" style="align-content:center">
        <tr>
            <td><%= label_tag "Username", nil, class: 'govuk-label'%></td>
        </tr>
        <tr>
          <td> <%= text_field_tag(:nhs_number, params[:nhs_number], placeholder: "Nhs Number", class: "govuk-input govuk-!-width-one-half") %></td>
        </tr>
      </div>
      <div class="govuk-form-group" style="align-content:center">
        <tr>
          <td><%= label_tag "Password", nil, class: 'govuk-label'%></td>
        </tr>
        <tr>
          <td> <%= password_field_tag(:password, "", placeholder: "Password", class: "govuk-input govuk-!-width-one-half") %></td>
        </tr>
      </div>
        <tr>
         <td> <%= submit_tag("Log In", class:"govuk-button") %></td>
        </tr>
    </table>
    <% end %>
  </div>
</div>
