<div id="<%= dom_id customer %>">
  <p>
    <strong>Firstname:</strong>
    <%= customer.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= customer.lastname %>
  </p>

  <p>
    <strong>Nhs number:</strong>
    <%= customer.nhs_number %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= customer.postcode %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <div class="Customer Orders">
    <%= turbo_frame_tag "new_customer_order", src: new_customer_customer_order_path(customer), target: "_top" %>
  </div>

</div>
