<div id="<%= dom_id customer %>">
  <p>
    <strong>Password digest:</strong>
    <%= customer.password_digest %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= customer.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= customer.lastname %>
  </p>

  <p>
    <strong>Nhs number:</strong>
    <%= customer.nhs_number %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= customer.postcode %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
