<%= form_with(model: [@supplier_order.supplier, @supplier_order]) do |form| %>
    <% if supplier_order.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(supplier_order.errors.count, "error") %> prohibited this bid from being saved:</h2>
  
        <ul>
          <% supplier_order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  
  
  
    <div>
      <%= form.label :amount, style: "display: block", class: 'govuk-label' %>
      <%= form.number_field :amount, class: "govuk-input govuk-!-width-one-half", required: true %>
    </div>
  
    <div>
      <%= form.label :delivery_address, style: "display: block", class: 'govuk-label' %>
      <%= form.text_field :delivery_address, class: "govuk-input govuk-!-width-one-half", required: true%>
      
    </div>

    <div>
    <%= form.label :postcode, style: "display: block", class: 'govuk-label' %>
    <%= form.text_field :postcode, class: "govuk-input govuk-!-width-one-half", required: true%>
    
  </div>

  
    <div>
      <%= form.submit class:"govuk-button"%>
    </div>
  <% end %>
  