<div id="<%= dom_id supplier %>">
  <p>
    <strong>Password digest:</strong>
    <%= supplier.password_digest %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Deliver address:</strong>
    <%= supplier.deliver_address %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= supplier.postcode %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= supplier.stock %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= supplier.phone_number %>
  </p>

</div>
