<div class="govuk-tabs" data-module="govuk-tabs" styles="justify-content: center">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#customer">
        Info
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#supplier">
        Suppliers
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#pharmacy">
        Pharmacies
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="customer">
        <h2 class="govuk-heading-l">Order coronavirus (COVID-19) rapid lateral flow tests</h2>
        <p class="govuk-body">Use this service to
        
        <% if session[:type] == "customer"%>
        <%= link_to "order a free pack", new_customer_customer_order_path(session[:id]) %> 
        <% else%>
        <%= link_to "order a free pack", access_customer_login_path %> 
        <% end %>
of rapid lateral flow tests to be sent to your home. Or <%= link_to "find a pharmacy near you", public_pharmacy_viewer_path %></p>
        <p class="govuk-body">​​You can find out which COVID-19 test you should get if you’re not sure what sort of test you should use</p>
        <p class="govuk-body">​​If you have symptoms that you’re concerned about, contact 111 or speak to your GP. In an emergency, dial 999.</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              If you have new coronavirus (COVID-19) symptoms, self-isolate and <a href = "https://self-referral.test-for-coronavirus.service.gov.uk/antigen/confirm-eligible" class="govuk-link">get a polymerase chain reaction (PCR) test </a> as soon as possible, even if your symptoms are mild.
            </strong>
        </div>


        <% if session[:type] == "customer"%>
            <%= link_to "Manage Orders", public_customer_orders_path, class:"govuk-button"%>
        <% else%>
            <%= link_to "Login", access_customer_login_path, class:"govuk-button"%>
        <% end %>
        


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="supplier">
  <h2 class="govuk-heading-l">Manage Orders and Stock of Lateral Flow Tests (LFT)</h2>
  <p class="govuk-body">Use this service to
  
  <% if session[:type] == "supplier"%>
  <%= link_to "order packs from the manufacturer", new_supplier_supplier_order_path(session[:id]) %> 
  <% else%>
  <%= link_to "order packs from the manufacturer", access_supplier_login_path %> 
  <% end %>
into your stock</p>

<p class="govuk-body govuk-!-font-weight-bold">Or</p>

<p class="govuk-body">
<% if session[:type] == "supplier"%>
<%= link_to "Manage orders placed by pharmacies", public_view_orders_path %> 
<% else%>
<%= link_to "Manage orders placed by pharmacies", public_view_orders_path %> 
<% end %>
</p>


  <% if session[:type] == "supplier"%>
      <%= link_to "Manage Orders", public_supplier_orders_path, class:"govuk-button"%>
  <% else%>
      <%= link_to "Login", access_supplier_login_path, class:"govuk-button"%>
  <% end %>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pharmacy">
        <h2 class="govuk-heading-l">Pharmacy Info</h2>
        <p class="govuk-body">Use this service to
  
        <% if session[:type] == "pharmacy"%>
        <%= link_to "place a lateral flow test order", new_pharmacy_pharmacy_order_path(session[:id]) %> 
        <% else%>
        <%= link_to "place a lateral flow test order", access_pharmacy_login_path %> 
        <% end %>
      to an available nearby supplier</p>

      <p class="govuk-body govuk-!-font-weight-bold">Or</p>

      <p class="govuk-body">
  
      <% if session[:type] == "pharmacy"%>
      <%= link_to "Manage stock info", public_pharmacy_orders_path %> 
      <% else%>
      <%= link_to "Manage stock info", access_pharmacy_login_path %> 
      <% end %>
    such as stock amount and predicted stock decrease</p>

    <% if session[:type] == "pharmacy"%>
    <%= link_to "Manage Orders", public_pharmacy_orders_path, class:"govuk-button"%>
<% else%>
    <%= link_to "Login", access_pharmacy_login_path, class:"govuk-button"%>
<% end %>




  </div>


  </div>
</div>